*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    background-color: #3af2a5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Open Sans', sans-serif;
}

.title{
    padding: 40px 0 20px
}

.counter-container{
    display:flex;
    justify-content: center;
    width:100%;
    gap: 10%;
    padding: 20px;
}

.counter{
    display:flex;
    min-width: 100px;
    justify-content: space-between;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 25px;
    flex-grow: 0.01;
    cursor: pointer;
}

.counter__selected{
    display:flex;
    min-width: 100px;
    justify-content: space-between;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 25px;
    flex-grow: 0.01;
    outline: 1px solid #f00;
}

.game-container{
    display: grid;
    min-width: 45%;
    aspect-ratio: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.game-container--button{
    background-color: #3af2a5;
    border: 1px solid #000
}

.no-top{
    border-top: none
}

.no-left{
    border-left: none
}

.no-bottom{
    border-bottom: none
}

.no-right{
    border-right: none
}

@media screen and (min-width: 1000px) {
    .game-container{
        min-width: 25%;
    }
}